name: Dart CI Acceptance

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: '3.10.1'

      - run: dart pub get
      - run: dart format . --output=none --set-exit-if-changed
      - run: dart analyze
      - run: dart test
